/* .App{
  background-image: linear-gradient(rgb(220, 122, 122),rgb(38, 176, 186));
} */

body {
	background: #4776e6; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #8e54e9, #4776e6); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#8e54e9,
		#4776e6
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Heading{
  font-weight: 600;
  color:white;
  font-size:2em;
  margin-top: 1em;
  margin-bottom: 0.3em;
}
.disclaimer{
  color:white;
  font-size: 0.9em;
  margin-top: 0.3em;
  font-weight: 530;
}

.container-master-master{
  display:flex;
}

.container{
  width : 40em;
  min-height:25em;
  max-height: 25em;
  background: rgba(0,0,0,.5);
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  overflow-y: auto;
  border-radius: 10px;
}

.message{
  /* background-color: blue; */
  margin-top:0.6em;
  margin-bottom:0.6em;
  max-width: 20em;
  padding:10px;
  border-radius: 5px;
  /* padding-bottom: 1em; */
  overflow-wrap: break-word;
  display: flex;
  flex-direction: column;
  position:relative;
  min-width:7em;
}

.message-neutral{
  display: flex;
  flex-direction: row;
  background-color: grey;
  margin-left:auto;
  margin-right:auto;
}

.message-neutral > .message-timestamp {
  margin-left:1em;
}

.message-left{
  margin-left:2em;
  background-color: rgb(106, 148, 100);
  margin-right : auto;
}
.message-right{
  margin-right:2em;
  background-color: rgb(80, 164, 80);
  margin-left : auto;
  /* align-items: flex-end; */
}

.message-right > *{
  margin-left:auto;
}
.message-author{
  font-size:0.8em;
}

.message-text{
  font-weight: 500;
  font-size : 1em;
  max-width: 20em;
  overflow-wrap: break-word;
}

.message-img{
  width:14em;
  height:auto;
}

.message-timestamp{
  font-size:0.6em;
  font-weight:600;
  margin-top:0.5em;
}

.send-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}





.message-inputbox{
  background: rgba(42, 43, 57, 0.5);
  /* width: 20em; */
  color : white;
  border-radius:7px;
  padding:4px;
}


.send-button{
  color:rgb(71, 71, 71);
  margin-left:0.5em;
}

.send-button:active{
  color: black;
  /* background-color: rgba(0, 0, 0, 0.445);; */
}

.online-master{
  margin-top:2em;
  width: 14em;
  color:white;
  background: rgba(0,0,0,.5);
  margin-left:2em;
  border-radius:10px;
  max-height: 13em;
  display: flex;
  flex-direction: column; 
}


.online-header{
  text-align: center;
  font-size: 1.5em;
  border-bottom: solid white 2px;;
  height:2em;
  min-height:2em;
  position:relative;
}

.online-header > p{
  position :absolute;
  left:34%;
}

.online-list{
  display:flex;
  flex-direction: column;
  overflow-y: scroll;
}

.eachblock{
  display: flex;
  flex-direction:row;
  align-items:center;
  justify-content:center;
  font-size:0.8em;
}
.eachblock > p{
  max-width:13em;
  overflow-wrap:break-word;
}

.dot {
  height:13px;
  width: 13px;
  background-color: rgb(11, 234, 33);
  border-radius: 50%;
  margin-right:1em;
  display: inline-block;
}

.empty-list{
  display:flex;
  flex-direction: row;;
  align-items: center;
  justify-content: center;
}

.empty-p{
  color:white;
}



@media only screen and (max-width: 956px) {
  body {
    font-size: 0.88em
  }
  
}




@media only screen and (max-width: 800px) {
  body {
    font-size: 0.8em
  }
  .container-master{
    font-size: 0.8em
  }
}


@media only screen and (max-width: 630px) {
  .container-master-master{
    /* display:flex; */
    flex-direction: column;
    align-items: center
  }

}

@media only screen and (max-width: 490px) {
  body {
    font-size: 0.7em
  }
  .container-master{
    font-size: 0.7em
  }
}

@media only screen and (max-width: 400px) {
  body {
    font-size: 0.5em
  }
  .container-master{
    font-size: 0.6em
  }
}