.video-container-master-header{
	color:white;
}

.video-container-master {
	display:flex;
	flex-direction: row;
}

.video-container{
	display:flex;
	flex-direction: row;
}

.video-tag{
	height:20em;
}

.video-master{
	display: flex;
	justify-content:center
}

.myId {
	background: linear-gradient(
		to right,
		#e2e2e2,
		#c9d6ff
	);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}

.inside-myId{
	margin-top:10em;
}

.call-button {
	text-align: center;
}




@media only screen and (max-width: 1000px) {
	body {
	  font-size: 0.88em
	}
	.video-container-master {
		display:flex;
		flex-direction: column;
	}
  }
  

@media only screen and (max-width: 800px) {
body {
	font-size: 0.7em
}

}


@media only screen and (max-width: 800px) {
body {
	font-size: 0.9em
}
.video-container{
	display:flex;
	flex-direction: column;
}
	
}
	  
  